:root {
    --corPrincipal: #ffc200;
    --corSecundaria: #ff9900;
    --corTerciaria: #101010;
    --corQuartiaria: #222222;
    --corQuintenraia: #7b7b7b;
    --corSextiaria: #ababab;
    --corSeptiaria: #ffffff;
    --fontePrimaria: 'Dela Gothic One', sans-serif;
    --fonteSecundaria: Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--fonteSecundaria);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corSeptiaria);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.Pesquisa {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid var(--corTerciaria);
    border-radius: 5px;
    box-shadow: 7px 7px 5px var(--corSecundaria);
    background-size: 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-image: url('Design/Design Alpha 1.9/Imagens/Lupa.png');
    padding-left: 40px; /* Adjusted to avoid overlapping text with the background image */
}

.Pesquisa::placeholder {
    font-size: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 200px; /* Adjusted the max-width to make cards smaller */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--corTerciaria);
    border-radius: 10px;
    box-shadow: 7px 7px 5px var(--corSecundaria);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--corSeptiaria);
    width: 100%;
}

.card-title {
    font-family: var(--fontePrimaria);
    color: var(--corQuartiaria);
}
