/* Estilos gerais */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #01080E, #1A1A1A);
    color: #FFFFFF;
}

.container {
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para o cabeçalho */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    border-bottom: 1px solid #1C5296;
    padding: 0 1rem;
}

.cabecalho__acoes {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Estilos para o main */
.main {
    display: flex;
    flex-grow: 1;
    padding-top: 1rem;
}

/* Estilos para a sidebar */
.sidebar {
    width: auto;
    background-color: #2c3e50;
    padding: 1rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.sidebar__item {
    margin-bottom: 1rem;
}

.sidebar__item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 220px;
    color: #fff;
}

.sidebar__item img {
    width: 50px; /* Tamanho máximo das imagens na sidebar */
    height: auto;
    margin-right: 10px;
    border-radius: 4px; /* Adicionando borda arredondada opcional */
}

.TradImg {
    width: 7vh;
    height: 7vh;
}

/* Estilos para o conteúdo principal */
.content {
    flex-grow: 1;
    padding: 1rem;
    background-color: #34495e;
    box-sizing: border-box;
}

.chat {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    min-height: 300px;
    overflow-y: auto;
}

.entrada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.entrada__input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#botao-enviar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#botao-enviar img {
    height: 20px;
    vertical-align: middle;
}
