:root {
	--red-default: #ea1d2c;
	--hover-red: #c2121f;
	--dark-red: #cc1825;
	--green-market: #b6d048;
	--dark-green: #9eb53e;
	--yellow: #f6d553;
	--purple: #8c60c5;
	--pink: #f9879c;
	--white: #fff;
	--dark-gray: #3e3e3e;
	--text: #717171;
	--title: #1a1a1a;
	--border: #dcdcdc;
	--bg-gray: #f7f7f7;
}
