:root{
    --corPrincipal: #ffc200;
    --corSecundaria: #ff9900;
    --corTerciaria: #101010;
    --corQuartiaria: #222222;
    --corQuintenraia: #7b7b7b;
    --corSextiaria: #ababab;
    --corSeptiaria: #ffffff;
    --fontePrimaria: 'Dela Gothic One', sans-serif;
    --fonteSecundaria: Arial, Helvetica, sans-serif; 
} 

.dela-gothic one-regular {
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    font-family: var(--fonteSecundaria);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: var(--corPrincipal);
    height: fit-content; 
}
  
header h1{
    font-family: 'Dela Gothic One', sans-serif;
    color: var(--corSeptiaria);
}

.logo{
    height: 6vh;
    width: 6vh;
}

.hamburguer-round{
    width: 6vh;
    height: 6vh;
}

.pagenamebar{
    background-color: var(--corSeptiaria);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    box-shadow: 0vh 1vh 2vh var(--corSextiaria);
}

h3{
    font-family: 'Dela Gothic One', sans-serif;
    color: var(--corQuintenraia)!important;
}

main{
    margin-bottom: 3vh;
    align-items: center;
}

main img{
    max-width: 30vh;
    max-height: 30vh;
    margin: 5vh;
}

main .inputs{
    max-width: 60vh;
    min-width: 25vh;
    height: auto;
}

main .inputs input{
    margin: 1vh;
    border: radial-gradient(top left, white, black);
    border-radius: 2vh;
    padding: 0.5vh;
    max-width: 45vh;
}

main .inputs input::placeholder{
    color: black;
}

main #Data{
    width: fit-content;
    padding-left: auto;
    padding-right: 7.5vh;
    /*min-width: 20vh;*/
}

#Nascimento{
    width: 36.5vh;
}

footer{
    background-color: var(--corSeptiaria);
    height: fit-content;
    width: 100%;
    padding: 3vh;
    box-shadow: 0vh -1vh 2vh var(--corSextiaria);
}

footer img{
    height: 6vh;
    width: 6vh;
}

.logo-login{
    height: 20vh;
    width: 20vh;
}

.logo-login-title{
    font-family: 'Dela Gothic One', sans-serif;
}